* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:focus {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.placeholder {
  opacity: 0.5;
}

.UI-tab {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F00;
  transition: 2s;
  overflow: hidden;

  &.visible {
    top: 0;
    background-color: #E4E4E4;
  }

  &.hidden {
    top: -100%;
    background-color: #000;
  }
}

h1 {
  color: transparent;
}

#mousePad {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 70px;
  right: 10px;
  background: rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20vw rgba(0,0,0,0.5);
}

.ctrl {
  position: absolute;
  top: 0px;
  left: 10px;

  &.right {
    left: auto;
    right: 0px;
    width: 120px;

    > * {
      float: left;
      margin-right: 10px;
    }
  }

  > * {
    display: block;
    margin: 10px 0;
    width: 50px;
    height: 50px;
    color: transparent;
    background: transparent;
    text-align: center;
    overflow: hidden;
    border: none;
  }

  .btKeyboard      { background-image: url(/public/keyboard.svg)        }
  .btCloseKeyboard { background-image: url(/public/keyboard-cancel.svg) }
  .btSendText      { background-image: url(/public/send-text.svg)       }
  .btKeyDel        { background-image: url(/public/delete.svg)          }
  .btKeyEnter      { background-image: url(/public/enter.svg)           }
  .btSpecialKeys   { background-image: url(/public/special-keys.svg)    }

  .btKeyUp    { background-image: url(/public/arrow-up.svg)    }
  .btKeyDown  { background-image: url(/public/arrow-down.svg)  }
  .btKeyLeft  { background-image: url(/public/arrow-left.svg)  }
  .btKeyRight { background-image: url(/public/arrow-right.svg) }

  .btMouse      { background-image: url(/public/mouse.svg)       }
  .btMouseRight { background-image: url(/public/mouse-right.svg) }

  .btGamepad { background-image: url(/public/gamepad.svg) }

  .btApps { background-image: url(/public/apps.svg) }

  .btConfig { background-image: url(/public/config.svg) }

}

#keyboard {

  .ctrl {
    top: 20px;
  }

  #textInput {
    position: absolute;
    display: block;
    width: -webkit-calc(100% - 210px);
    width: calc(100% - 210px);
    /* height: calc(100% - 40px);*/
    top: 30px;
    left: 80px;
    resize: none;
    font-size: 16px;
  }

}

#theKeys {
  position: absolute;
  left: 70px;
  margin: 0;
  padding: 5px 0px 5px 5px;
  list-style: none;

  li {
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 0;
    background: rgba(0,0,0,0.4);
    color: #FFF;
    font-size: 28px;
    line-height: 50px;
    height: 50px;
    width: 70px;
    &.name-len-4 { font-size: 24px }
    &.name-len-5 { font-size: 24px; letter-spacing: -1px }
  }
}

#appSearch {
  position: absolute;
  left: 80px;
  top: 10px;
  right: 10px;
  display: block;
  padding-left: 10px;
  border: none;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  z-index: 2;
  transition: .6s;

  &:focus {
    left: 90px;
    top: 50px;
    font-size: 24px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.6);
  }
}

#appList {
  position: absolute;
  left: 70px;
  right: 0;
  top: 30px;
  bottom: 0;
  margin: 0;
  padding: 5px 0px 5px 5px;
  list-style: none;
  overflow-y: scroll;

  li {
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 5px 0 0 0;
    background: rgba(0,0,0,0.1);
    color: #000;
    letter-spacing: -1px;
    font-size: 14px;
    line-height: 14px;
    height: 90px;
    width: 70px;
    overflow: hidden;
    cursor: pointer;
    transition: 2s;
    
    &.touched {
      transition: 0.2s;
      background: #09E;
    }

    i {
      display: block;
      width: 60px;
      height: 60px;
      background-size: contain;
      margin: auto;
    }
  }
}

#gamepad {
  background: #000;
  .ctrl {
    left: 50%;
    margin-left: -25px;
    z-index: 2;
  }
}

.gamepadBts {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #888;
  border-radius: 45vh;
  box-shadow: inset 5vw 5vw 6vw -1vw rgba(255,255,255,0.5),
              inset -5vw -5vw 6vw -1vw rgba(0,0,0,0.5);

  button {
    display: block;
    width: 10vw;
    height: 10vw;
    font-size: 6vw;
    line-height: 10vw;
    text-align: center;
    position: absolute;
    border: none;
  }

  .directions {
    position: absolute;
    top: 50%;
    left: 7vw;
    margin-top: -15vw;
  }
  .btGPn { left: 10vw; top:  0vw }
  .btGPs { left: 10vw; top: 20vw }
  .btGPw { left:  0vw; top: 10vw }
  .btGPe { left: 20vw; top: 10vw }

  .metaGame {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5vw;
    button {
      height: 6vw;
      font-size: 3vw;
      line-height: 6vw;
    }
  }
  .btGPstart { left: 0; bottom: 0 }
  .btGPpause { left: 0; top: 3vw }

  .gameFuncs {
    position: absolute;
    top: 50%;
    right: 5vw;
    button {
      border-radius: 50%;
    }
  }
  .btGP1 { right: 24vw; bottom: 2vw }
  .btGP2 { right: 12vw; bottom: 2vw }
  .btGP3 { right:  0vw; bottom: 2vw }
  .btGP4 { right: 24vw; top: 2vw }
  .btGP5 { right: 12vw; top: 2vw }
  .btGP6 { right:  0vw; top: 2vw }
}

#configContent {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
}
